body {
  padding: 0;
  margin: 0;
  background: aliceblue;
  color: #444;
  text-align: center;
}

.carousel-container {
  font-size: 22px;
}
.carousel-container.demo-half {
  width: 50%;
  height: 40vh;
  float: left;
}

.carousel-container.demo-full {
  width: 90%;
  height: 60vh;
  margin: auto;
  padding-top: 16px;
}

.carousel {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: none;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel-photo {
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100% - 72px);
  margin: auto;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  -ms-transition: transform 0.5s opacity 0.5s, z-index 0.5s;
  background: url(../assets/loader.gif) 50% no-repeat;
}

.carousel-photo.first,
.carousel-photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-photo.prev,
.carousel-photo.next {
  z-index: 800;
}

.carousel-photo.prev {
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
}

.carousel-photo.next {
  transform: translateX(100%);
  -ms-transform: translateX(100%);
}

.carousel-src {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  -ms-transform: translate(50%, 25%);
}

.carousel-button-prev,
.carousel-button-next {
  position: absolute;
  bottom: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.67);
  color: #fff;
  transform: translateY(50%);
  -ms-transform: translateY(50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  line-height: 1.5rem;
}

@media only screen and (max-device-width: 768px) {
  .carousel-button-prev,
  .carousel-button-next {
    line-height: 1rem;
  }
}

.carousel-button-prev {
  left: 8px;
}

.carousel-button-next {
  right: 8px;
}

p.demo-full {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 0 8px 8px;
}

h1.demo-full {
  padding-top: 16px;
  margin-bottom: 8px;
}

p.demo-half {
  float: right;
  width: 46%;
  padding-left: 2%;
  padding-right: 2%;
}

h1.demo-half {
  padding-top: 64px;
  padding-bottom: 0px;
}

.hidden {
  display: none;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.36);
  padding: 8px;
}
